*{
	margin:0px;
	padding:0px;
}
body{

}
header{
	background-color:#ff8347;
	height:70px;
	width:100%;
	float:left;


}
.container-header{
	width:1140px;
	margin:0 auto;
	width:100%;
	float:left;
}
.logo{
	height:70px;
	width:200px;
	float:left;
	position:inline-block;

}

img{
	width:70px;
	height:70px;
	padding:10px;
	margin:0px auto;
	display:inline block;


}
.menu{
	height:70px;
	width:680px;
	background-color:#d2891e;
	float:left;

}
nav ul{
	margin:0;
	padding:0;
	text-align:center;

}
nav ul li{
display:inline-block;
margin:20px 20px;
padding:10px;
background-color:red;
border-radius:10px;

}
nav ul li:hover{
	background-color:purple;
}
nav ul li a{
text-decoration:none;
color:#fff;
font-size:18px;
}
.social-icon{
	height:70px;
	width:300px
	float:left;

}
.social-icon a img{
	width:30px;
	height:30px;
	position: inline-block;
	padding:10px;
	margin:10px 10px;
	float:left;
	border-radius:50px;
	
}

.about-us{
	width:100%;
	height:200px;
	background-color:gold;
	float:left;
}
.continer-about-us-section{
	width:1140px;
	height:150px;
	background-color:red;
	float:left;
	margin:0px auto;

}

.about-image{
	height:200px;
	width:40%;
	background-color:#ff89b4;
	float:left;

}

.about-content{
	height:200px;
	width:60%;
	background-color:#C71585;
	float:left;


}
.about-left{
	height:200px;
	width:50%;
	background-image:url(../img/stage.jpg);
	float:left;

}
.about-right{
	height:200px;
	width:50%;
	background-color:#20B2AA;
	float:left;

}
.galary{
	width:100%;
	height:300px;
	background-color:red;
	float:left;
}
.continer-galary{
	width:1140px;
	height:300px;
	background-image:url(../img/bridegroom.jpg);
	float:left;
	margin:0px auto;
	background:cover,
	background:no-repeat;

}
.left-galary"{
	width:570px;
	height:300px;
	float:left;
	background-color:white;

}
.right-galary{
	width:570px;
	height:300px;
	float:left;
	background-color:black;
}
footer{
	background-color:#ff8347;
	height:150px;
	width:100%;
	float:left;
}
.container-footer{
	width:1140px;
	height:150px;
	background-color:gold;
	float:left;
	margin:0px auto;
}